<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjzu.graduation.project.mapper.UserTokenMapper">
  <resultMap id="BaseResultMap" type="com.sdjzu.graduation.project.domain.UserToken">
    <!--@mbg.generated generated on Sat May 02 16:07:44 CST 2020.-->
    <!--@Table user_token-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat May 02 16:07:44 CST 2020.-->
    user_id, token, expire_time, update_time
  </sql>
</mapper>